/*
                              .:^~~^:.
                                 .^~!!!~:.            
                                    .~!7!!~. 
                                      .~7!!7~.
                               :::.     ^!!!77^
                           .^~77777!^.   :77777~
                        .^!?????777??!:   ^77777~
                      :!????????????7?7^   !77777^
                    :7JJJJ?????????????~   ^77777!
                  :7YYJJJJJJJJJ??????7^    :?77777 
                 ~YYYYYYYJJJJJJJJJJ?~.     :?????7 
         .      7P555YYYYYYYYJJJJJ?~.      ~?????7
       ^J5?:    :JP555555YYYYYYYYYYJ7^    .?J????! 
    .7YPPPPY?Y?^  75PPP55555J!7YYYYYYY7:  7JJJJJ?^  
    :5PPPPPPPPPP?^ .!Y5PY?!:   :?55YYYYY!?YJJJJJ~.
      ?PPPPPPPPPP7.   .:.        ^J555YY5YYYYYY!. 
     ^JPPPPPPPPPP5J!:.             ~Y555555YYJ~.
   ~YPPPPPPPPPPPPPPPP5J?!~^::::^~!?YPPPP55555Y!.
 ~YPPPPPPPJ~7YPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP555J~.  
7PPPPPPP?^    :!J5PPPPPPPPPPPPPPPPPPPPPY775PPPPPP7  
~PPPPP?:         .^!?Y5PPPPPPPPPPPP5J!:.  .?PPPP5~

This is my css file, it used to be worse but I suppose it's alright now. Feel free to steal the code idrc. 
People's war and revolution till communism!
*/

/*
================================================================================
basic styliization
================================================================================
*/
html {
  overflow-x: hidden;
  background-size: 100% 100%;
  color: black;
  background-color: white;
  /* background-image: linear-gradient(90deg, #e80000, #ffc9d3); */
  background:
  linear-gradient(217deg, rgba(255, 0, 98, 0.8), transparent 70.71%),
  linear-gradient(127deg, rgba(0, 251, 255, 0.8), transparent 70.71%),
  linear-gradient(336deg, rgba(247, 0, 255, 0.8), transparent 70.71%);
  font-family: 'BPmono', 'ms gothic';
  text-align: center;
  font-size: 16px;
}


body {
  margin: 0;
}
/*
================================================================================
basic styliization
================================================================================
*/

/*
================================================================================
text styliization
================================================================================
*/

@font-face {
  font-family: 'BPmono';
  src: url('https://file.garden/ZsJltiD-bXBSm0-A/bpmono/BPmono.ttf'); 
}

.globalTitleText {
    color:#e80000;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 8px #e80000;
  }
  .titleText {
    color:#e80000;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  .headingText {
    color:#e80000;
    font-size: 24px;
    font-weight: bold;
  }

  .subHeadingText {
    color:#e80000;
    font-size: 20px;
    font-weight: bold;
  }

  .subSubHeadingText {
    color:#e80000;
    font-size: 18px;
    font-weight: bold;
  }

  .microHeadingText {
    color:#e80000;
    font-size: 14px;
    font-weight: bold;
  }

h1 {
  font-size: 32px
}

h2 {
  font-size: 28px
}

h3 {
  font-size: 24px
}

p {
  font-size: 12px 
}

a:hover {
  color: red;
}

/*
================================================================================
text styliization
================================================================================
*/

/*
================================================================================
marks stylization
================================================================================
*/
  .standardMark {
    background-color: white;
    border: black 3px solid;
    border-radius: 8px;
    padding: 4px;
  }

  .standardGlobalTitleMark {
    color: #e80000;
    background-color: white;
    border: black 3px solid;
    border-radius: 8px;
    padding: 4px;
  }

/*
================================================================================
marks stylization
================================================================================
*/


/*
================================================================================
containers
================================================================================
*/

.genericContainer {
  border: #ebcc00 5px solid; 
  box-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  border-radius: 5px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background-size: 100% 100%;
  background-color: white;
}

#menuBar {
  border-top: rgb(255, 44, 251) 5px solid;
  border-bottom: rgb(26, 179, 255) 5px solid;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black, 0px 0px 5px black;
  height: auto;
  width: 110%;
  overflow: hidden;
  margin-left: -5%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -10%;
  padding: 2px;
  background: linear-gradient(to bottom, rgb(248, 248, 248), rgba(255, 255, 255, 0.186));
  font-size: 24px;
}

  .menuButton {
    border: #fc1f91 3px solid; 
    border-radius: 8px;
    box-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    font-family: 'BPmono';
    font-weight: bolder;
    font-size: 18px;
    color: black;
    background-image: url('https://file.garden/ZsJltiD-bXBSm0-A/Website%20Media/images/360_F_338033184_8oKq8czljHGktFpBPpytrJAHIZyBMLyL.jpg'); /* change this later to a different image */
    background-size: 100% 100%;
    transition-property: letter-spacing;
    transition-duration: 0.5s;
  }

  .menuButton:hover {
    letter-spacing: 3px;
  }

#musicPlayer {
  height: auto;
  width: auto;
  margin-right: 16px;
  margin-left: 16px;
  color: aquamarine;
  border: #ebcc00 5px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 5px black, 0px 0px 5px black;
  padding: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-size: 100% 100%;
  background: linear-gradient(217deg, rgb(253, 65, 162), transparent 70.71%), linear-gradient(118deg, rgb(252, 160, 177), transparent 70.71%), linear-gradient(336deg, rgb(0, 255, 145), transparent 70.71%), linear-gradient(92deg, rgb(0, 191, 255), transparent 70.71%);
  /* background-image: linear-gradient(#ffa5d6, #f70019); */
  font-size: 24px;
}

  #playButton{
    height: 60px;
    width: 60px;
    padding: 5px;
    background: linear-gradient(217deg, rgb(255, 68, 130), transparent 70.71%), linear-gradient(127deg, rgb(21, 249, 234), transparent 70.71%), linear-gradient(336deg, rgb(161, 106, 249), transparent 70.71%);
    box-shadow: 5px 5px rgba(0, 230, 246, 0.8);
    border: black 2.5px solid;
    border-radius: 50%;
    transition: background-color;
    transition-duration: 1s;
  }

    #playImage {
      height: 67%;
      width: 100%;
    }
  
  #playButton:hover {
    background-color: red;
  }

  #pauseButton{
    height: 40px;
    width: 50px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: black 5px solid;
    border-radius: 500px;
  }

    #pauseImage {
      height: 100%;
      width: 100%;
    }
  
  #pauseButton:hover {
    box-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  }

#univChatBox {
  border: #ebcc00 5px solid; 
  box-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-size: 100% 100%;
  background-color: white;
}

@keyframes dividerAnimation {
  0% {background: crimson;
  box-shadow: 0px 0px 1px crimson, 0px 0px 3px crimson, 0px 0px 5px crimson, 0px 0px 7px crimson;
  border: crimson 3px solid;}

  50% {background: rgb(255, 200, 0);
  box-shadow: 0px 0px 1px rgb(255, 200, 0), 0px 0px 3px rgb(255, 200, 0), 0px 0px 5px rgb(255, 200, 0);
  border: rgb(255, 200, 0) 3px solid;}

  100% {background: crimson;
  box-shadow: 0px 0px 1px crimson, 0px 0px 3px crimson, 0px 0px 5px crimson, 0px 0px 7px crimson;
  border: crimson 3px solid;}
}

.divider {
  border: black 3px solid;
  border-radius: 1px;
  height: 1%;
  margin: auto;
  animation-name: dividerAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
  /*
  ================================================================================
  writings stylization
  ================================================================================
  */
  .homeContainer {
    position: relative;
    background-color: white;
    color: rgb(148, 0, 0);
    height: auto;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border: #ebcc00 3px solid; 
    box-shadow: 0px 0px 5px black, 0px 0px 5px black;
    border-radius: 5px;
  }
    .mainWritingsText {
      color: rgb(148, 0, 0);
      font-size: 12px;
    }
  
  .writingsHomeButton{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: white;
    width: 20%;
    border: black 2px solid;
    border-radius: 3px;
    font-family: 'BPmono';
    font-weight: bolder;
    font-size: 1.5vw;
    box-shadow: 0px 0px 5px black;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
    .writingsHomeButton:hover{
      background-color: rgb(250, 215, 215);
    }
    .writingsHomeButtonImage{
      height: 10%;
      width: 10%;
      transform: translateY(15%);
    }

.genericContainerMirror {
  position: relative;
  border: #ebcc00 3px solid; 
  box-shadow: 0px 0px 5px black, 0px 0px 5px black;
  border-radius: 5px;
  width: 80%;
  height: auto;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-size: 100% 100%;
  background-color: white;
}
  
  .writingsHomeButtonMirror{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: white;
    width: 10%;
    border: black 2px solid;
    border-radius: 3px;
    font-family: 'BPmono';
    font-weight: bolder;
    font-size: 1.5vw;
    box-shadow: 0px 0px 5px black;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
    .writingsHomeButtonMirror:hover{
      background-color: rgb(250, 215, 215);
    }
    .writingsHomeButtonImageMirror{
      height: 20%;
      width: 20%;
      transform: translateY(15%);
    }

  .writingsLinkButton {
    background-color: white;
    color: rgb(148, 0, 0);
    border: #570101 1px solid; 
    border-radius: 2px;
    width: 360px;
    height: 120px;
    margin: 0.2%;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    font-family: 'BPmono';
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    transition: background-color, text-decoration;
    transition-duration: 0.5s;
  }

  .writingsLinkButton:hover {
    background-color: rgb(248, 216, 216);
    text-decoration: underline;
  }

  .buttonDescrisptorText {
    color: #570101a4;
  }

  .writingsDivider {
  border-top: #ff0000 3px dotted;
  border-radius: 2px;
  height: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  }

  .introBox {
    border: red 2px solid;
    border-radius: 3px;
    background-color: rgba(220, 20, 60, 0.18);
    color: crimson;
    width: 60%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
  }
    .boxTitleText{
      color:#e80000;
      font-size: 2vw;
      font-weight: bold;
      text-align: center;

    }
    .boxHeadingText{
      color:#e80000;
      font-size: 1vw;
      font-weight: bold;
    }
    .boxSubHeadingText{
      color:#e80000;
      font-size: 0.8vw;
      font-weight: bold;
    }
    .boxSubSubHeadingText{
      color:#e80000;
      font-size: 0.6vw;
      font-weight: bold;
    }
    .boxMicroHeadingText {
      color:#e80000;
      font-size: 0.4vw;
      font-weight: bold;
    }
    .boxContentMain{
      color:#e80000;
      font-size: 1vw;
      font-weight: bold;
      text-indent: 1%;
    }
    .boxContentSub{
      color:#e80000;
      font-size: 0.8vw;
      font-weight: bold;
      text-indent: 2%;
    }
    .boxContentSubSub{
      color:#e80000;
      font-size: 0.6vw;
      font-weight: bold;
      text-indent: 3%;
    }

    .writingsTitleText {
    color:rgb(240, 180, 0);
    font-size: 28px;
    font-weight: bold;
    }

    #byWrapper{
      width: 100%;
    }
      #byWrapper div {
        width: 49%;
        display: inline-block;
      }

      #right {
        text-align: right;
      }
      #left{
        text-align: left;
      }
    .boxLinks{
      color: #e80000;
    }
  /*
  ================================================================================
  writings stylization
  ================================================================================
  */

  /*
  ================================================================================
  bottom section
  ================================================================================
  */
    #bottomWrapper {
      display: grid;
      grid-gap: 16px;
      padding: 0px;
      margin: 16px;
    }
    /*
    ================================================================================
    bottom bar
    ================================================================================
    */ 
      #bottomBar {
        position: static;
        border: #ebcc00 5px solid;
        border-radius: 8px;
         box-shadow: 0px 0px 5px black, 0px 0px 5px black;
        height: auto;
        width: auto;
        padding: 2px;
        background-color: white;
        font-size: 24px;
      }
    /*
    ================================================================================
    bottom bar
    ================================================================================
    */ 

    /*
    ================================================================================
    slogan bar
    ================================================================================
    */ 
      #sloganBar {
        position: static;
        float: bottom;
        border: #ebcc00 5px solid;
        border-radius: 8px;
        box-shadow: 0px 0px 5px black, 0px 0px 5px black;
        height: auto;
        width: auto;
        padding: 8px;
        color: black;
        background: rgba(255, 0, 0, 0.743)
      }
    /*
    ================================================================================
    slogan bar
    ================================================================================
    */         
    
    /*
    ================================================================================
    slogan slop
    ================================================================================
    */ 
    #sloganSlop {
      color: gold;
      text-shadow: 0px 0px 1px goldenrod, 0px 0px 3px goldenrod, 0px 0px 5px goldenrod, 0px 0px 7px goldenrod, 0px 0px 9px goldenrod;
    }
    /*
    ================================================================================
    slogan slop
    ================================================================================
    */
  /*
  ================================================================================
  bottom section
  ================================================================================
  */ 

/*
================================================================================
containers
================================================================================
*/


